<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
<add name="MCPApp.Properties.Settings.MeltonDoncreteDBConnectionString"
      connectionString="Server=78.137.122.11,64220;Database=NewTestMeltonConcreteDB;User Id=sa;Password=za48g0Sdp6z3=;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
	<add key="AppVersion" value="13.11.2024.01" />
    <add key="LoggedInUser" value="" />
    <add key="LoggedInUserFullName" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="updateFileLocation" value="\\ccs-cul-001fs\q2oupdate" />
    <add key="serverFileLocation" value="\\ccs-cul-001fs\q2oupdate" />
    <add key="acrobatAppPath" value=""/>
    <add key="modHistoryFile" value="modHistory.pdf"/>
    <add key="64bitAcrobatAppPath" value="C:\Program Files (x86)\Adobe\Reader 11.0\Reader\" />
    <add key="32bitAcrobatAppPath" value="C:\Program Files\Adobe\Reader 11.0\Reader\" />



  </appSettings>
	
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>